.payableHistory {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 20px;
}

.payableHistory .userDetails {
  text-align: right;
  padding: 0px 20px 20px 0px;
}

.payableHistory .dataContainer {
  margin-bottom: 20px;
}


.orders .MuiTableCell-root, .orderDetails .MuiTableCell-root{
  border: 1px solid black;
}